{% extends 'base.html' %}

{% block content %}
<br>
<div>
<!-- firest div section of div for title and blog body -->
    <div class="row">
        <div class="col-12">
            <h1 style="font-weight: 900">{{blog.title.upper}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="card card-body" id="style-7" style="font-family: cursive;box-shadow: -2px 3px 20px 5px rgba(0, 0, 0, 0.25); max-height: 70vh;
            overflow-y: auto;">
                {{blog.body}}
            </div>
        </div>
        <div class="col-3">
            <div class="card card-body" class="force-overflow">
                <h6>Author :</h6>
                <h4>{{blog.author|title}}</h4>
                {{blog.posted_on|date:"M d, Y"}}
            </div>
            
<!-- div section for likes and views -->
            <div class="card card-body" style="text-align: center;font-weight: bold;">

                <a href="javascript:{document.getElementById('like').submit()}">
                    <i class="fa fa-heart btn button" aria-hidden="true"
                        style="color: black;font-size: xx-large;"></i><br>Like: {{blog.likes.count}}</a>
                <i class="fa fa-eye" aria-hidden="true" style="font-size: xx-large;"></i>Views: {{blog.views_total}}
            </div>
            <form id="like" action="{% url 'like' blog.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden">
            </form>

        </div><br>
<!-- comment section start -->
        <div class="col-4" style="margin-left: 20px;">
            <h3>Comments</h3>
            <form id="comments" name="comments" action="{% url 'comments' blog.id %}" method="POST">
                {% csrf_token %}
                <textarea rows="4" cols="50" name="comments" class="form-control" id="comments"style="margin-left: 20px;"
                    enctype="multipart/form-data">
                    </textarea>
                <button class="button btn" type="submit" style="margin-left: 20px;"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send</button>

            </form>
        </div>
        <div class="col-8" style="margin-left: 20px;">
            {% for comment in comments.all%}
            <div class="comment card card-body "
                style="margin: 20px 0px 20px 20px;box-shadow: -2px 3px 20px 5px rgba(0, 0, 0, 0.25);">
                <div class="date">{{ comment.comment_date| date:"M d, Y"}}</div>
                <strong>{{ comment.comment_author }}</strong>
                <p>{{ comment.comment_content|linebreaks }}</p>

            </div>

            {% empty %}
            <div class="card crd-body">
                <p>No comments here yet :(</p>
            </div>
            {% endfor %}
        </div>
        <!-- comment section end -->
    </div>
</div>

<style>
    #style-7::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #F5F5F5;
        border-radius: 10px;
    }

    #style-7::-webkit-scrollbar {
        width: 10px;
        background-color: #F5F5F5;
    }

    #style-7::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-gradient(linear,
                left bottom,
                left top,
                color-stop(0.44, rgb(122, 153, 217)),
                color-stop(0.72, rgb(73, 125, 189)),
                color-stop(0.86, rgb(28, 58, 148)));
    }
</style>
{% endblock%}