{% extends 'base.html' %}

{% block content %}
<!--loop through blogs from Blog object  -->
{% for blog in blogs.all %}
<!-- card for blogs title,body,views and likes -->
<div class="row mt-5 mb-3">
    <div class="col-6 card card-body" onclick="window.location='{% url 'blogpage' blog.id %}';"
        style="box-shadow: -2px 3px 20px 5px rgba(0, 0, 0, 0.25);">
        <h3>{{blog.title}}</h3>{{blog.summary}}
    </div>
    <div class="col-2 card card-body" style="box-shadow: -2px 3px 20px 5px rgba(0, 0, 0, 0.25);">
        <a href="javascript:{document.getElementById('like{{blog.id}}').submit()}">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>Like: {{blog.likes.count}}</a><br>

        <p><i class="fa fa-eye" aria-hidden="true"></i>Views: {{blog.views_total}}</p>
        <a href="{% url 'blogpage' blog.id %}"><i class="fa fa-comments-o" aria-hidden="true"></i>Comments:
            {{ blog.comments.count }}</a>

    </div>


</div>
<!-- forms for api call -->
<form id="like{{blog.id}}" action="{% url 'like' blog.id %}" method="POST">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endfor %}



{% endblock %}